---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import banner from "../images/banner-faq.webp";


import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');

---

<Layout title="FAQ :: Happy Tail Grooming">
   <!-- Main -->
   <section id="main" class="container medium bg-wave">
      <header>
         <h2>Latest articles</h2>
      </header>
      <div class="box">
         <span class="image featured"><Image src={banner} alt="FAQs" /></span>


        <ul>
  {blogEntries.map(blogPostEntry => (
    <li>
      <a href={`/my-blog-url/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
      <time datetime={blogPostEntry.data.publishedDate.toISOString()}>
        {blogPostEntry.data.publishedDate.toDateString()}
      </time>
    </li>
  ))}
</ul>
        
      </div>
   </section>
</Layout>

<style>
   .image img {
      max-width: 100%;
      height: auto;
   }
</style>
